<div class="body-burger">
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" />
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <div class="main-content-wrapper">
      <a href="#news" class="anchor">Home</a>
      <a href="#contact" class="anchor">Examples</a>
      <a href="#about" class="anchor">Docs</a>
      <a href="#about" class="anchor">Icons</a>
    </div>
  </div>
</div>
